@media (max-width: 1024px) {
  .header-logo--pesquisa {
    width: auto;
    margin-left: 50px;
  }

  .campo-pesquisa{
    display: flex;
  }

  .botao{
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .header-logo--pesquisa {
    width: auto;
    margin-left: 40px;
  }

  .campo-pesquisa {
    width: 280px;
    margin-left: 10px;
    display: flex;
  }

  #icone-pesquisa {
    margin-right: 10px;
  }

  .botao{
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .header{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .header-logo--pesquisa{
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }

  .campo-pesquisa{
    margin-left: 0;
  }

  .botao{
    width: auto;
    margin-right: 0;
  }
}