.footer {
  background: #EAF2FD;
  display: flex;
  margin-top: 60px;
  height: 368px;
}

.footer-logo {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.footer-lista{
  width: 20%;
}

.lista-links {
  color: #464646;
  font-size: 20px;
  margin-top: 60px;
}

.lista-links-li {
  margin-bottom: 25px;
}

.form-contato{
  width: 30%;
  flex-direction: column;
  margin-top: 60px;
}

.form-titulo{
  color: #464646;
  font-weight: bold;
}

.form-faleConosco {
  margin-top: 15px;
}

#form-nome {
  width: 560px;
  height: 56px;
  margin-bottom: 20px;
  padding: 10px 10px;
  box-shadow: 0px 2px 2px #b1afaf;
  border-radius: 4px; 
}

#form-mensagem {
  width: 560px;
  height: 82px;
  margin-bottom: 20px;
  padding: 10px 10px;
  box-shadow: 0px 2px 2px #b1afaf;
  border-radius: 4px;
}

#form-botao {
  margin-top: 10px;
}

.rodape {
  width: 100%;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #464646;
}