.main {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 41.15%, rgba(0,0,0,0.8) 100%), url(../../img/background.jpg);
  position: static;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-position: center;
  background-size:cover;
}

.bloco-titulo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
  padding-top: 190px;
}

.main-titulo {
  color: white;  
  font-size: 3.5em;
  margin-top: 10px;
  font-weight: bold;
}

.main-subtitulo {
  color: white;   
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: bold;
}

.main-botao {
  text-decoration: none;
  color: white;
  background: #2A7AE4;
  padding: 18px 15px;
  margin-top: 20px;
}

.main {
  font-family: 'Raleway', sans-serif;
}