@import url(../responsivo-header.css);
@import url(../responsivo-footer.css);

@media (max-width: 1440px) {
  .categoria-titulo {
    margin-left: 1em;
  }
  
  .categoria-verMais{
    margin-right: -2em;
  }  
}

@media (max-width: 1130px) {
  .categoria-verMais{
    margin-right: 0;
  } 

  .bloco-titulo{
    padding-top: 150px;
    width: 100%;
  }

  .categoria-titulo {
    margin-left: 40px;
  }

  .container-produtos:nth-child(5){
    display: none;
  }

  .container-produtos:nth-child(4){
    display: none;
  }  
}

@media (max-width: 768px) {
  .bloco-titulo{
    padding-top: 180px;
  }  

  .categoria-titulo {
    margin-left: 20px;
  }  
}

@media (max-width: 767px) {
  .bloco-titulo{
    padding-top: 80px;
  }   

  .main-titulo{
    font-size: 8vw;
  }

  .main-subtitulo{
    font-size: 5vw;
  }

  .main-botao{
    margin-bottom: 50px;
  }

  .categoria {
    margin-top: 3em;
  }
  
  .categoria-titulo {
    margin-left: 5vw;
  }

  .container-produtos:nth-child(5){
    display: none;
  }

  .container-produtos:nth-child(4){
    display: none;
  }
  .produtos-categoria{
    flex-wrap: wrap;
  }  
  .container-produtos {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
  } 
  .produto-item{
    width: 100%;
    margin-bottom: 20px;
  }  
}