@media screen and (min-width: 768px) {
  .flex-item:nth-child(2) {
    order: 3;
  }

  #divBusca {
    display: block;
    background-color: #F5F5F5;
    border-radius: 20px;
    width: 300px;
  }

  #txtBusca {
    display: block;
    float: left;
    background-color: transparent;
    padding-left: 15px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
  }

  #btnBusca {
    padding-top: 8px;
  }

  .destaque {
    height: 352px;
  }

  .titulo-destaque {
    font-size: 52px;
  }

  .subtitulo {
    font-size: 22px;
  }

  .botaoResponsivo {
    margin-bottom: 3rem;
  }

  .footer__lista {
    text-align: left;
  }

  .footer__responsivo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: var(--azul-fundo);
    padding-top: 1rem;
  }
}

@media screen and (min-width: 1440px) {}