@import url(../index/header.css);
@import url(../index/footer.css);
@import url(../responsivo-header.css);
@import url(../responsivo-footer.css);

.header {
  margin-bottom: 1em;
}

main {
  background-color: #e5e5e5;
  font-family: "Raleway";
  height: auto;
}

.produto-destaque {
  display: flex;
  justify-content: center;
  padding-top: 3em;

}

.foto-produto-destaque {
  width: 560px;
  height: 403px;
  object-fit: cover;
}

.produto-destaque-texto {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-left: 1em;
  align-content: center;
  justify-content: center;
  color: #464646;
}

.produto-destaque-titulo {
  font-size: 3em;
  margin-bottom: 0.4em;
}

.produto-destaque-preco {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.produto-destaque-mensagem {
  font-size: 1em;
}

.categoria {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.categoria-titulo {
  color: #464646;
  font-size: 2em;
  margin-left: 70px;
  font-weight: bold;
  margin-bottom: 15px;
}

.categoria-verMais {
  color: #2A7AE4;
  font-size: 18px;
  font-weight: bold;
}

.categoria-verMais-link {
  text-decoration: none;
}

.container-produtos {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  margin-bottom: 4em;
}

.produtos-categoria {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.produto-titulo {
  font-size: 15px;
  font-weight: 500, medium;
  margin-top: 10px;
}

.produto-preco {
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
}

.produto-link {
  text-decoration: none;
  color: #2A7AE4;
  margin-top: 10px;
  font-weight: bold;
}

.footer {
  margin-top: 0px;
}

.main-botao {
  text-decoration: none;
  color: white;
  background: #2A7AE4;
  padding: 18px 15px;
  margin-top: 20px;
}