@import url(../index/header.css);
@import url(../index/footer.css);
@import url(../responsivo-header.css);
@import url(../responsivo-footer.css);

main {
  height: 50vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e5e5e5;
  margin-top: 20px;
  height: 50vh;
}

.login-titulo {
  font-size: 1.5em;
  font-weight: bold;
  color: #464646;
  margin-top: 2.5rem;
  margin-bottom: 30px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

#input-email {
  margin-bottom: 20px;
  width: 425px;
  height: 63px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #b1afaf;
  padding: 5px;
}

#input-senha {
  margin-bottom: 20px;
  width: 425px;
  height: 63px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #b1afaf;
  padding: 5px;
}

.login-botao {
  text-decoration: none;
  color: white;
  background: #2A7AE4;
  padding: 18px 15px;
  margin-top: 20px;
  height: 62px;
  margin-bottom: 60px;
}

.botao-entrar {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer {
  margin-top: 0px;
}

.main-botao {
  text-decoration: none;
  color: white;
  background: #2A7AE4;
  padding: 18px 15px;
  margin-top: 20px;
}