.footer__links {
  padding: 16px;
  background-color: var(--azul-fundo);
}

.footer__logo {
  width: 176px;
}

.footer__link {
  font-size: var(--tamanho-texto-rodape);
  font-weight: var(--peso-rodape);
  line-height: 32px;
}

.footer__lista {
  margin-bottom: 1rem;
  text-align: center;
}

.form-contato {
  display: flex;
  background-color: var(--azul-fundo);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.form-titulo {
  font-weight: 700;
  font-size: 16px;
}

.form-faleConosco input {
  margin-bottom: .5rem;
  width: 328px;
  border-radius: 4px;
  padding: .5rem;
}

#form-nome {
  height: 56px;
}

.input-grupo {
  position: relative;
}

.input-grupo label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 5px);
  transform-origin: left;
}


#form-mensagem {
  height: 82px;
  margin-bottom: 1.5rem;
}

#form-botao button {
  width: 151px;
  margin-bottom: 1rem;
}

.rodape {
  width: 100%;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}