@media (max-width: 572px) {
  .input-cadastro input {
    width: 80%;
  }

  .botao-adicionar a {
    width: 80%;
    padding: 3vw 20vw;

  }
}

@media (max-width: 420px) {
  .campo-inserir-imagem {
    display: flex;
    flex-direction: column;
  }

  .campo-arrastar-arquivo {
    margin-bottom: 1rem;
  }

  .p-ou {
    margin-bottom: 1rem;
  }
}