@import url(../index/header.css);
@import url(../index/footer.css);
@import url(../responsivo-header.css);
@import url(../responsivo-footer.css);
@import url(../cadastroProduto/responsivo.css);

header {
    background: white;
}

body main {
    font-family: "Raleway";
    color: #464646;
    background: #E5E5E5;
    padding-bottom: 4em;
}

.cadastro-produto {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    padding-top: 2em;
}

.titulo-cadastro {
    font-size: 2em;
    font-weight: bold;
}

.campo-inserir-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

.campo-arrastar-arquivo {
    border: 2px solid #C8C8C8;
    border-style: dashed;
    width: 275px;
    text-align: center;
    background: white;
}

.campo-arrastar-arquivo img {
    width: 32px;
    padding: 1em 0;
}

.campo-arrastar-arquivo p {
    font-size: 0.85em;
    width: 218px;
    padding-left: 3em;
    padding-bottom: 1.5em;
}

.p-ou {
    margin: 0 1em;
}

.botao-adicionar-arquivo {
    border: 1px solid #2A7AE4;
    padding: 1em 1em;
    color: #2A7AE4;
}

.input-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.input-nome-preco {
    width: 560px;
    height: 56px;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.input-descricao {
    width: 560px;
    height: 82px;
    margin-bottom: 2.4em;
    border-radius: 5px;
    padding: 1em;
}

.botao-adicionar {
    text-align: center;
}

.adicionar-produto {
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    color: white;
    padding: 20px 211px;
    border-radius: 5px;
}

.footer {
    margin-top: 0px;
}

.main-botao {
    background-color: #2A7AE4;
    color: white;
    padding: 1em;
    border-radius: 5px;
}