main {
  background-color: #e5e5e5;
  font-family: 'Raleway';
}

.produtos {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1em;
  padding: 2em 10%;
  
}

.produto-container {
  margin: 0px 8%;
  padding-bottom: 2em;
  display: flex;  
  flex-wrap: wrap;
  justify-content: flex-start;
}

.produtos-titulo {  
  font-size: 2em;
  font-weight: bold;
  color: #464646;
}

.botao-adicionar {
  background-color: #2A7AE4;
  color: white;
  padding: 1.3em 1em;
}

.produto {
  width: 200px;
  height: 200px;
  margin: 0px 2em;
  text-align: center;
  
}

.produto-botao {
  position:relative;
  top: -190px;
  left: 55px;
  margin-right: 15px;
}


.produto-descricao{
  margin-top: 0.5em;
  font-size: 1em;
  margin-left: 2em;
  margin-bottom: 4em;
}

.produto-titulo{
  margin-bottom: 0.5em;
}

.produto-preco{
  font-weight: bold;
  margin-bottom: 0.5em;
}

.produto-texto {
  font-style: italic;
}

.footer {
  margin-top: 0%;
}